<html>
    <head>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="http://underscorejs.org/underscore-min.js"></script>
        <script type="text/javascript" src="assets/backbone.js"></script>
        <script type="text/javascript" src="assets/custom.js"></script>
    </head>
    <body>
        <ul id="tours-list"></ul>
        <script type="text/template" id="tour-item-tmpl">
          <p><a href="/tours/<%= id %>"><%= name %></a></p>
        </script>
    </body>
</html>
